<!DOCTYPE html>
<html lang="en">
<head>
  {% include "head-seo.njk" %}
  <link rel="icon" href="{{ site.favicon }}" type="image/x-icon">
  <link rel="stylesheet" href="/assets/css/main.css">
</head>
<body>
  <a class="skip-link" href="#main">Skip to content</a>
  {% include "header.njk" %}
  <main id="main">
    {{ content | safe }}
  </main>
  {% include "footer.njk" %}
  <script src="/assets/js/nav.js" defer></script>
  {% if site.ga4_id -%}
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.ga4_id }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag("js", new Date());
    gtag("config", "{{ site.ga4_id }}");
  </script>
  {%- endif %}
</body>
</html>
