---
layout: base.njk
title: Page not found
permalink: /404.html
eleventyExcludeFromCollections: true
---
{% include "page-title.njk" %}
<div class="wrapper page-section no-padding-top">
  <div class="page-content">
    <p>The page you requested could not be found.</p>
    <p><a href="/">Return to homepage</a></p>
  </div>
</div>
