---
layout: base.njk
title: Contact
permalink: /contact/
---
{% include "page-title.njk" %}
<div class="wrapper page-section no-padding-top">
  <div class="page-content">
    <p>Email: <a href="mailto:{{ site.email }}"><strong>{{ site.email }}</strong></a></p>
  </div>
</div>
