---
layout: base.njk
title: CV
permalink: /cv/
---
<div class="container page-content cv-download">
  <h1>CV</h1>
  <p><a class="btn" href="{{ site.cv_url }}">Download CV</a></p>
  <p class="cv-note">PDF format.</p>
</div>
