---
layout: base.njk
title: CV
permalink: /cv/
---
{% include "page-title.njk" %}
<div class="wrapper page-section no-padding-top">
  <div class="page-content cv-download">
    <p class="cv-button-wrap">
      <a class="btn-cv" href="{{ site.cv_url }}" target="_blank" rel="noopener">Download CV</a>
    </p>
  </div>
</div>
