---
layout: base.njk
title: Media
permalink: /media/
---
{% include "page-title.njk" %}
<div class="wrapper page-section no-padding-top">
  <div class="page-content">

    <section class="media-section">
      <h5>Presentations</h5>
      <ul>
        <li><strong><a href="https://www.youtube.com/watch?v=YiurxACAgYk" rel="noopener noreferrer">"Social Media and American Elections: Cutting through the Hype,"</a></strong> Student Lecture for <em>Lund Association for Foreign Affairs (SE)</em>, October 8, 2020.</li>
        <li><strong><a href="https://www.youtube.com/watch?v=ZV5H9Uxf7tE" rel="noopener noreferrer">"Are We Safe from Weaponized Bots?"</a></strong> Public Lecture for <em>AI Lund Network (SE)</em>, October 19, 2019.</li>
        <li><strong><a href="https://www.youtube.com/watch?v=CmTYmgrWk3M" rel="noopener noreferrer">"The Digital Architectures of Social Media,"</a></strong> PhD Defense at <em>University of Copenhagen (DK)</em>, June 19, 2019.</li>
        <li><strong><a href="https://www.youtube.com/watch?v=AUxYqVf6yFQ" rel="noopener noreferrer">"Social Media, Elections, and Politics,"</a></strong> Public Lecture for <em>European Commission Representation in Romania (RO)</em>, April 18, 2019.</li>
        <li><strong><a href="https://www.youtube.com/watch?v=yJal1zxSzOE" rel="noopener noreferrer">"Virality on Social Media: Potentials and Pitfalls for Politics,"</a></strong> Presentation for <em>European Parliament Panel on the Future of Science and Technology (BE)</em>, April 3, 2019.</li>
      </ul>
    </section>

    <section class="media-section">
      <h5>Television</h5>
      <ul>
        <li><a href="https://www.11alive.com/article/news/local/outreach/why-guy/why-is-social-media-having-so-much-influence-on-this-years-elections/85-bc33a97c-3c09-4061-a19c-3088b4423168" rel="noopener noreferrer"><strong>"Why is Social Media Having So Much Influence on this Year's Election?"</strong></a> <em>11Alive Atlanta (US)</em>, July 15, 2020.</li>
        <li><a href="https://www.euronews.com/2019/09/10/facebook-and-instagram-remove-accounts-of-italian-neo-facist-groups-thecube" rel="noopener noreferrer"><strong>"Facebook and Instagram Remove Accounts of Italian Neo-facist Groups,"</strong></a> <em>Euronews (EU)</em>, September 2019.</li>
      </ul>
    </section>

    <section class="media-section">
      <h5>Print</h5>
      <ul>
        <li><a href="https://eu.usatoday.com/in-depth/news/investigations/2022/06/30/2022-election-rhetoric-supreme-court-roe-abortion/7762332001/"><strong>"'Abortion Rights' vs. 'Live': Election Campaigns Post on Roe Reversal,"</strong></a> <em>USA Today (US)</em>, July 2022.</li>
        <li><a href="/wp-content/uploads/2022/03/artículo-elmercurio-guerra-hiperconectada-Ucrania-bossetta.pdf"><strong>"Ucrania, la primera gran guerrade la era hiperconectada,"</strong></a> <em>El Mercurio (CL)</em>, March 2022.</li>
        <li><a href="https://www.foxnews.com/politics/republican-lawmakers-excoriate-reddit-for-censorship-of-the-donald-pro-trump-forum" rel="noopener noreferrer"><strong>"GOP Opens Up New Fight in Big Tech Censorship,"</strong></a> <em>Fox News (US)</em>, May 2020.</li>
        <li><strong><a href="https://www.nytimes.com/2019/04/22/us/politics/youth-voters-2020.html" rel="noopener noreferrer">"Democrats Seek Young Voters, and the Memes that Move Them,"</a></strong> <em>The New York Times (US)</em>, April 2019.</li>
        <li><a href="/wp-content/uploads/2019/03/Bossetta-Documento.pdf" rel="noopener noreferrer"><strong>"Οι ακροδεξιές γωνίες του ίντερνετ είναι στο απυρόβλητο,"</strong></a> <em>Documento (GR)</em>, March 2019.</li>
        <li><strong><a href="https://www.information.dk/indland/2018/09/dansk-folkeparti-sverigedemokraterna-afd-tiltraekker-stoerst-opmaerksomhed-paa-facebook">"Dansk Folkeparti, Sverigedemokraterna og AfD tiltrækker størst opmærksomhed på Facebook,"</a></strong> <em>Information (DK)</em>, September 2018.</li>
        <li><strong><a href="http://www.universitytimes.ie/2018/03/how-the-eighth-amendment-battle-moved-to-social-media/" rel="noopener noreferrer">"How the Eighth Amendment Battle Moved to Social Media,"</a></strong> <em>University Times (IE)</em>, March 2018.</li>
        <li><a href="https://www.theguardian.com/tv-and-radio/2018/feb/09/making-obama-how-a-president-was-formed-podcasts-of-the-week" rel="noopener noreferrer"><strong>"Hear Here: Podcasts of the Week,"</strong></a> <em>The Guardian (UK)</em>, February 2018.</li>
        <li><strong><a href="https://www.ft.com/content/a533d5ec-5085-11e7-bfb8-997009366969" rel="noopener noreferrer">"How Facebook is Changing Democracy,"</a></strong> <em>Financial Times (UK)</em>, June 2017.</li>
        <li><strong><a href="https://www.americanmajarity.org/blog-2/the-future-of-social-media-on-campaigns/" rel="noopener noreferrer">"The Future of Social Media on Campaigns,"</a></strong> <em>American Majority (US)</em>, June 2017.</li>
        <li><a href="https://www.houstonchronicle.com/news/houston-texas/houston/article/After-storm-cancelled-flights-Texas-reps-take-11002086.php" rel="noopener noreferrer"><strong>"Texas Reps take 'Bipartisan Road Trip' to D.C.,</strong></a> <em>Houston Chronicle (US)</em>, March 2017.</li>
      </ul>
    </section>

    <section class="media-section">
      <h5>Radio</h5>
      <ul>
        <li><a href="https://www.spreaker.com/user/lrt.lt/2022-11-22-5c1a6dd2-4946-f"><strong>"Pausaulio 5,"</strong></a> <em>LRT (Lithuanian Public Radio)</em>, November 2022.</li>
        <li><a href="https://soundcloud.com/mbossetta/dimensionen-oe1-michael-bossetta" rel="noopener noreferrer"><strong>"Dimensionen,"</strong></a> <em>Ö1 (Austrian Public Radio)</em>, October 2018.</li>
      </ul>
    </section>

    <section class="media-section">
      <h5>Podcasts / YouTube</h5>
      <ul>
        <li><strong><a href="https://www.youtube.com/watch?v=C8qzm25ebw0" rel="noopener noreferrer">Coffee &amp; Politics</a></strong>, <em>Forbes DACH (Sophie Spiegelberger)</em>, January 2021.</li>
        <li><a href="https://www.youtube.com/watch?v=FxMiR6LaTYI" rel="noopener noreferrer"><strong>Adam Carolla Show</strong></a>, <em>(Adam Carolla)</em>, April 2020.</li>
        <li><a href="https://player.fm/series/podcast-of-the-day-1501389" rel="noopener noreferrer"><strong>Podcast of the Day</strong></a>, <em>(Grant Polmanteer)</em>, June 2017.</li>
      </ul>
    </section>

    <section class="media-section">
      <h5>Independent Publishers</h5>
      <ul>
        <li><strong><a href="https://sciencemediahub.eu/2019/04/10/michael-bossetta-we-need-more-research-into-what-are-the-best-technological-structures-to-facilitate-meaningful-dialogue/" rel="noopener noreferrer">Interview for European Science-Media Hub</a></strong>, <em>Sophia Ignatidou</em>, April 2019.</li>
        <li><a href="https://www.brightoncafe.com/2018/09/25-political-scientists-to-follow-on.html" rel="noopener noreferrer"><strong>"25 Political Scientists to Follow on Twitter,"</strong></a> <em>Steve Rayson (Brighton Cafe Blog)</em>, September 2018.</li>
        <li><a href="https://www.linkedin.com/pulse/review-social-media-politics-podcast-tom-moylan/" rel="noopener noreferrer"><strong>"Review: Social Media and Politics Podcast,"</strong></a> <em>Tom Moylan (via LinkedIn)</em>, September 2017.</li>
        <li><a href="https://medium.com/@tanyafiler/between-populist-leaders-and-online-influencers-a-common-style-62967dada651" rel="noopener noreferrer"><strong>"Between Populist Leaders and Online 'Influencers', a Common Style,"</strong></a> <em>Tanya Filer (Medium)</em>, July 2017.</li>
      </ul>
    </section>

  </div>
</div>
