---
layout: base.njk
title: Publications
description: For open access pre-prints, simply click the titles to view or download PDFs. For published versions, follow the DOI links.
permalink: /publications/
---
<div class="container page-content">
  {% include "publications-list.njk" %}
</div>
