---
layout: base.njk
title: Publications
description: For open access pre-prints, simply click the titles to view or download PDFs. For published versions, follow the DOI links.
permalink: /publications/
---
{% include "page-title.njk" %}
<div class="wrapper page-section no-padding-top">
  <div class="page-content">
    {% include "publications-list.njk" %}
  </div>
</div>
